.post .meta {
  margin: 0 0 30px 0;
}

.post {
  & > h2 {
    font-weight: $font-weight-bold;
    padding-bottom: 8px;
    border-bottom: 1px solid $gray-light;
  }
  .date {
    display: inline-block;
    margin: 0 0 0 10px;
    color: $gray;
  }
  .meta {
    img {
      margin: 0 10px 0 0;
      border-radius: 100px;
    }
    .author {
      color: $brand-green;
      font-weight: $font-weight-bold;
    }
  }
}

.post-intro {
  margin-top: 20px;
  font-size: 19px;
  color: $gray-dark;
}

.media-video {
  h5 small {
    display: block;
    margin: 5px 0 0;
    color: $gray-dark;
  }
}
