@mixin btn($color) {
  display: inline-block;
  margin: 20px 10px 0 0;
  background: $color;
  border: 1px solid $color;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 200px;
  & > span {
    margin: 0 8px 0 0;
  }
  &:hover,
  &:active,
  &:focus {
    background: $body-bg;
    color: $color;
    text-decoration: none;
    border-color: $body-bg;
  }
}

.btn-brand-blue {
  @include btn($brand-blue);
}

.btn-brand-orange {
  @include btn($brand-orange);
}
