.home-header {
  padding: 20px 0 50px;
  background: url('/images/home/hero.jpg') no-repeat;
  background-size: cover;
  img {
    height: 175px;
    margin: 60px auto 30px;
  }
  h1 {
    font-style: italic;
    font-size: 30px;
    font-weight: 300;
  }
}

.announcement {
  padding: 20px 0;
}

.announcement-text {
  margin: 20px 0 0;
  font-size: 20px;
  color: $brand-gray;
  a {
    font-weight: 500;
    color: $brand-gray;
  }
}

.announcement-bullets {
  margin: 5px 0 0;
  .bullet {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    border: 1px solid $brand-gray;
    border-radius: 8px;
    &:hover {
      cursor: pointer;
      background: $brand-gray-lighter;
    }
    &.active {
      background: $brand-gray;
    }
  }
}

.props {
  padding: 50px 0;
  background: $brand-green-light;
}

.props-prop {
  position: relative;
  a {
    text-decoration: none;
  }
  & + .props-prop {
    &:before {
      position: absolute;
      top: 175px;
      left: -25px;
      display: block;
      content: "";
      background: url('/images/home/plus.svg');
      height: 50px;
      width: 50px;
    }
  }
}

.props-title {
  font-size: 24px;
  margin: 0 0 30px;
  line-height: 1.2;
  font-weight: 300;
  color: white;
  min-height: 2em;
}

.props-summary {
  margin: 30px 0 0;
  padding: 30px 0 0;
  border-top: 1px solid rgba(255,255,255,.35);
  color: white;
  a {
    color: white;
    margin: 0;
    font-weight: 400;
    opacity: .65;
  }
}

.props-figure {
  text-align: center;
}

.props-language-list {
  list-style: none;
  margin: 20px 0 0;
  li {
    display: inline-block;
    margin: 0 15px 0 0;
  }
}

.props-summary-title {
  margin: 0 0 10px;
  font-size: 32px;
  font-weight: 300;
}

.cucumber-bdd {
  margin: 30px 0 0;
  h1 {
    font-size: 30px;
    font-weight: 300;
    color: $brand-gray;
  }
  h2 {
    font-size: 24px;
    font-weight: 300;
    color: $brand-green-light;
    strong {
      font-weight: 400;
    }
  }
}

.cucumber-bdd-cucumber {
  h1 {
    color: $brand-green-light;
  }
}

.cucumber-bdd-bdd {
  h1 small {
    color: $brand-green-light;
  }
}

.community {
  overflow: hidden;
  margin: 100px 0;
  font-size: 16px;
  p {
    margin: 0;
  }
  .number {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.3;
  }
}

.community-download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 312px;
  background: $brand-green-light;
  color: white;
  .number {
    font-size: 60px;
  }
  &:before {
    background: $brand-green-light;
    position: absolute;
    left: -100%;
    top: 0;
    content: "";
    height: 312px;
    width: 100%;
  }
}

.community-meet {
  height: 156px;
  background: $brand-green-lighter;
  color: $brand-gray;
  h1 {
    margin: 15px 0 10px;
    font-size: 30px;
    color: white;
  }
  p {
    margin: 0 0 10px;
  }
  a {
    color: white;
    font-weight: 400;
  }
  &:before {
    background: $brand-green-lighter;
    position: absolute;
    left: 100%;
    top: 0;
    content: "";
    height: 156px;
    width: 100%;
  }
}

.community-contributions {
  height: 156px;
}

.community-contributors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 156px;
  background: $brand-gray;
  color: white;
}

.community-languages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 156px;
  background: $brand-gray-lighter;
  color: $brand-gray;
  &:before {
    background: $brand-gray-lighter;
    position: absolute;
    left: 100%;
    top: 0;
    content: "";
    height: 156px;
    width: 200%;
  }
}

.community-avatars {
  height: 156px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img {
    min-width: 78px;
    height: 78px;
    flex: 1 0;
  }
}

.company {
  margin: 100px 0 0px;
  color: $brand-gray;
  h1 {
    font-weight: 300;
    font-size: 30px;
    margin: 0 0 30px;
  }
  h2 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 30px;
  }
  p {
    font-size: 14px;
  }
  a {
    color: $brand-green-light;
  }
  .company-lead {
    margin: 60px 0 40px;
    font-size: 16px;
    & + .company-lead {
      margin-top: 0;
    }
  }
}

.company-link {
  display: block;
  font-weight: 400;
  margin: -15px 0 50px;
}

.company-team {
  margin: 0 0 50px;
}

.company-book {
  margin-top: 40px;
  .row {
    display: flex;
    align-items: center;
  }
  img {
    border: 1px solid $gray-light;
  }
  p {
    font-size: 14px;
    margin: 0;
  }
}

.testimonials {
  padding: 30px 0;
  background: $brand-gray;
  img {
    height: 80px;
    width: 80px;
  }
  blockquote {
    padding: 0;
    margin: 0;
    color: $brand-gray-lighter;
    border: 0;
    line-height: 1.3;
    p {
      margin: 0 0 10px;
    }
    footer {
      font-style: normal;
      font-weight: 500;
    }
  }
}

.newsletter {
  background: $brand-gray-lighter;
  padding: 50px 0;
}

.newsletter-form {
  h2 {
    margin: 0 0 10px;
    color: $brand-gray;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
  }

  input {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 14px;
    color: $brand-gray;
    @include placeholder {
      color: $brand-gray;
    }
  }

  button {
    background: $brand-green-light;
    font-size: 20px;
    line-height: 1;
    padding: 16px 48px;
    color: white;
    &:hover {
      background: $brand-green;
      color: white;
    }
  }
}

.companies {
  padding: 50px 0;
  h2 {
    margin: 0 0 30px;
    color: $brand-gray;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    opacity: .6;
  }
}

.companies-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.companies-logo {
  img {
    height: 60px;
  }
}

.simple-separator {
  background: $brand-gray-lighter;
  margin: 50px 0;
  height: 1px;
}

.rainbow-separator {
  margin: 0;
  height: 5px;
  background-color: $brand-green-light;
  border-top: 5px solid $brand-green;
  border-bottom: 5px solid $brand-green-lighter;
}

@media (max-width: $screen-md) {
  .props-prop {
    & + .props-prop {
      &:before {
        position: static;
        margin: 20px auto;
      }
    }
  }

  .community-download, .community-meet, .community-languages {
    &:before { display: none; }
  }

  .community-avatars {
    height: 78px;
  }
}

@media (max-width: $screen-sm) {
  .home-header {
    img {
      width: 80%;
    }
  }
}

@media (max-width: $screen-xs) {
  .community-avatars {
    height: 156px;
  }
}
