body {
  padding-top: 57px;
  font-weight: $body-font-weight;
}

header {
  padding-bottom: 0 !important;
}

@mixin img-pull-left()
{
  margin-right: 10px;
}

@mixin img-pull-right()
{
  margin-left: 10px;
}

img.pull-left {
  @include img-pull-left();
}

img.pull-right {
  @include img-pull-right();
}

img.img-thumbnail {
  margin-bottom: 12px;
}

p.promise {
  font-size: 70%;
  text-shadow:none;
}

#js-edit {
  display: none;
}

.main-footer {
  padding: 30px 0;
  background: $brand-black;
  color: $brand-gray-lighter;
  font-size: 14px;
  a {
    color: $brand-gray-lighter;
    &:hover {
      text-decoration: none;
      color: $brand-green-light;
    }
  }
}

.main-footer-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.main-footer-tweet {
  font-size: 12px;
}

.main-footer-company {
  margin-top: 20px;
  color: $brand-gray;
  font-size: 13px;
  font-weight: 400;
  img {
    width: 245px;
  }
  p {
    margin-top: 5px;
  }
}

.main-footer-newsletter {
  margin: 0 0 10px;
  input {
    width: 200px;
    vertical-align: top;
    height: 36px;
    padding: 6px 10px;
    background: $brand-black;
    border: 1px solid white;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
  }
  button {
    vertical-align: top;
    height: 36px;
    padding: 6px 12px;
    border: 1px solid white;
    background: white;
    color: $brand-black;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-weight: 500;
  }
}

.main-footer-phones {
  font-size: 13px;
  font-weight: 300;
}

.main-footer-email {
  margin: 0;
  font-size: 13px;
  font-weight: 300;
}

.main-footer-copyright {
  margin-top: 15px;
  color: $brand-gray;
  font-size: 13px;
  font-weight: 400;
}

/* RESPONSIVE CSS */

@media (max-width: $screen-md) {
  .form input, .form button {
    font-size: 12px;
    height:inherit;
  }

  .alert p {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
  }
}

@media (max-width: $screen-sm) {
  .container { margin: 0 15px; }
}
