.intro-header-learn {
  padding-top: 0; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 0;
  text-align: center;

  .btn-cta {
    @include btn($brand-orange);
    margin-right: 10px;
  }
}

.intro-header-learn {
  background: url(/images/cukeup-2014/CukeUp-7477.jpg) no-repeat center center;
  background-size: cover;
}

.learn-row {
  padding-top: 75px;
  padding-bottom: 75px;
}

.max-670 {
  margin: 0 auto;
  max-width: 670px;
}

.max-970 {
  margin: 0 auto;
  max-width: 970px;
}
