.btn-school-buy {
  @include btn($brand-orange);
  margin-right: 10px;
}

.btn-school-watch {
  @include btn($brand-orange);
  background: none;
  border: 1px solid $body-bg;
}

.school-intro {
  background: rgba(0,0,0,.7);
  border-top: 0 !important;
  margin: 0;
  p {
    color: $body-bg;
    margin: 0;
    font-size: 20px;
    line-height: 2;
    a {
      color: $body-bg;
      font-weight: $font-weight-bold;
    }
  }
}

.pricing {
  margin-bottom: 30px;
  margin-top: 30px;
  text-shadow: none;
}

.pricing-inline {
  margin-bottom: 0;
  margin-top: 0;
}

.pricing .notes {
  text-align: center;
  font-size: 14px;
}

.price-table {
  border: 1px solid #dedede;
  margin: 20px 0;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.price-table li {
  border-bottom: 1px dashed #999;
  line-height: 1.5;
  padding: 10px;
  text-align: center;
  color: #000;
  strong { font-weight: $font-weight-bold; }
  &:last-child {
    border-bottom: none;
  }
  &.price {
    font-size: 30px;
    color: $brand-orange;
    del {
      font-size: 18px;
      opacity: .8;
      font-weight: $font-weight-normal;
    }
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-style: italic;
  }

  &.buy-action {
    .btn-brand-orange:hover {
      border-color: $brand-orange;
    }
  }
}

.price-table .price {
  text-align: center;
  font-size: 1.2em;
  font-weight: $font-weight-thick;
}

.price-table .info {
  font-weight: $font-weight-bold;
}

.bonus {
  display: inline-block;
  transform: rotate(-24deg);
}

.school-benefits {
  text-align: center;
  .panel {
    margin: 0;
    min-height: 76px;
    line-height: 1.8;
    border: 0;
    box-shadow: none;
    .panel-heading {
      background: none;
      border: 0;
      font-size: 80px;
      color: $brand-orange;
      line-height: 1;
    }
  }
  .btn-school-buy:hover {
    border: 1px solid $brand-orange;
    background: none;
  }
}

.school-instructors {
  img {
    border-radius: 500px;
  }
}
