#side-nav {
  border-top: 5px solid $brand-green-lighter;
  a {
    color: $brand-black;
    &:hover { color: $brand-green-light; }
    &:focus, &:active { color: $brand-green-lighter; }
  }
  .active > a {
    font-weight: $font-weight-bold;
    color: $brand-green;
  }

  .nav .nav > li > a {
    padding-left: 40px !important;
  }

  .nav .nav .nav > li > a {
    padding-left: 80px !important;
  }

  /* hide all (inactive) nested lists */
  .nav .nav {
    display: none;
  }

  /* show active nested lists */
  .nav > .active > .nav {
    display: block;
  }
}
