body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    html {
        font-family: "HelveticaNeue", Helvetica, Arial, sans-serif
    }
}

a {
    color: #008cdd;
    text-decoration: none;
    cursor: pointer
}

a:hover {
    color: #222;
    text-decoration: underline
}

body.reference {
    -webkit-font-smoothing: antialiased;
    background: #fff
}

.reference div#reference div#topics {
    -webkit-box-shadow: #0f131a -1px 0 0, rgba(0, 0, 0, 0.05) 1px 0 2px inset;
    -moz-box-shadow: #0f131a -1px 0 0, rgba(0, 0, 0, 0.05) 1px 0 2px inset;
    -ms-box-shadow: #0f131a -1px 0 0, rgba(0, 0, 0, 0.05) 1px 0 2px inset;
    -o-box-shadow: #0f131a -1px 0 0, rgba(0, 0, 0, 0.05) 1px 0 2px inset;
    box-shadow: #0f131a -1px 0 0, rgba(0, 0, 0, 0.05) 1px 0 2px inset;
    background-color: #2d2d2d;
    margin-left: 50%;
    position: relative
}

.reference div#reference div#topics #language {
    background: -webkit-linear-gradient(#3e4145, #292e33);
    background: -moz-linear-gradient(#3e4145, #292e33);
    background: -ms-linear-gradient(#3e4145, #292e33);
    background: -o-linear-gradient(#3e4145, #292e33);
    background: linear-gradient(#3e4145, #292e33);
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0 1px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.45) 0 1px 2px;
    -ms-box-shadow: rgba(0, 0, 0, 0.45) 0 1px 2px;
    -o-box-shadow: rgba(0, 0, 0, 0.45) 0 1px 2px;
    box-shadow: rgba(0, 0, 0, 0.45) 0 1px 2px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #3e4145;
    border-bottom: 1px solid #14161a;
    padding: 9px 20px;
    position: absolute;
    width: 100%;
    z-index: 75;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000
}

.reference div#reference div#topics #language a {
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
    color: #ccd8e8;
    display: block;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 18px;
    line-height: 18px;
    padding: 0 10px;
    text-shadow: rgba(0, 0, 0, 0.7) 0 1px 0;
    text-transform: uppercase
}

.reference div#reference div#topics #language a.selected {
    background: -webkit-linear-gradient(#14171a, #2a2f34);
    background: -moz-linear-gradient(#14171a, #2a2f34);
    background: -ms-linear-gradient(#14171a, #2a2f34);
    background: -o-linear-gradient(#14171a, #2a2f34);
    background: linear-gradient(#14171a, #2a2f34);
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, black 0 1px 0 inset, #25282e 0 -1px 0 inset;
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, black 0 1px 0 inset, #25282e 0 -1px 0 inset;
    -ms-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, black 0 1px 0 inset, #25282e 0 -1px 0 inset;
    -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, black 0 1px 0 inset, #25282e 0 -1px 0 inset;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, black 0 1px 0 inset, #25282e 0 -1px 0 inset;
    color: white;
    cursor: default;
    text-decoration: none
}
