.reference div#toc {
    border-right: 1px solid #dadfe5;
    bottom: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    top: 50px;
    width: 200px;
    z-index: 25;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000
}

.reference div#reference {
    background: white;
    margin-left: 200px;
    min-width: 750px
}

.reference div#reference div#topics #language.stick {
    position: fixed;
    top: 0
}

.reference div#reference div#topics .topic {
    padding-top: 45px;
    position: relative
}

.reference div#reference div#topics .topic:nth-child(3) {
    padding-top: 0
}

.reference div#reference div#topics .topic:nth-child(3) .topic-section .topic-description:before, .reference div#reference div#topics .topic:nth-child(3) .topic-section .topic-example:before, .reference div#reference div#topics .topic:nth-child(3) .topic-section .topic-example:after {
    display: none
}

.reference div#reference div#topics .topic:last-child .topic-section .topic-example {
    padding-bottom: 45px
}

.reference div#reference div#topics .topic-section {
    clear: left;
    font-size: 13px;
    line-height: 1.9em;
    margin-left: -100%;
    padding-top: 45px;
    position: relative
}

.reference div#reference div#topics .topic-section .topic-description {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #444;
    float: left;
    padding: 0 30px;
    position: relative;
    width: 50%;
    z-index: 15
}

.reference div#reference div#topics .topic-section .topic-example {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-left: 50%;
    padding: 38px 30px 0;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
    width: 50%
}
