<div itemscope="itemscope" itemtype="http://schema.org/Organization">
  <span itemprop="name">Cucumber Ltd</span>
  <div itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
  	<span itemprop="streetAddress">Drumsyniebeg Lochgoilhead,</span><br>
  	<span itemprop="addressLocality">Cairndow,</span><br>
  	<span itemprop="addressRegion">Argyll,</span><br>
  	<span itemprop="postalCode">PA24 8AN,</span><br>
  	<span itemprop="addressCountry">Scotland</span><br>
  </div>
  <div itemprop="contactPoint" itemscope="itemscope" itemtype="http://schema.org/ContactPoint">
  	<a href="https://cucumber.pro/" itemprop="url">https://cucumber.pro/</a><br>
    <a href="mailto:hello@cucumber.pro" itemprop="email">hello@cucumber.pro</a><br>
    <span itemprop="telephone">+44 20 8720 6842</span>
  </div>
</div>
