<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="cucumber, gherkin, testing, bdd, atdd, sbe, specification by example, requirements">
<meta name="description" content="{{ site.description | xml_escape }}">
<meta name="author" content="{{ site.author | xml_escape }}">
<meta name="copyright" content="{{ site.copyright | xml_escape }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
<title>
  {% if page.title == "Cucumber" %}
    {{ page.title }}
  {% else %}
    {{ page.title }} &middot; Cucumber
  {% endif %}
</title>

<link rel="stylesheet" href="/css/style.css">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Favicons -->
<link rel="icon" type="image/png" href="/favicon.png">
