<div class="community-nav {{ page.slug }}">
  <nav role='nav'>
    <a href='/' class="mark" alt='Cucumber' title='cukes.info'></a>
    <a href='/platforms'>Docs</a>
    <a {% if page.slug == "blog" %} class="active"{% endif %} href='/blog'>Blog</a>
    <a {% if page.slug == "school" %} class="active"{% endif %} href='/school'>School</a>
    <a {% if page.slug == "training" %} class="active"{% endif %} href='/training'>Training</a>
    <a href='https://cucumber.pro'>Cucumber Pro</a>
    <a {% if page.slug == "support" %} class="active"{% endif %} href='/support'>Support</a>
  </nav>
</div>
