---
title: BDD Kickstart, Stockholm 2016
hero:
  subtitle: Executable Specifications with Discovery Workshops and Example Mapping
  dates: September 2016
  cta:
    link: https://cucumber.typeform.com/to/xCN6FW
    message: Register your interest!
location:
  url: https://www.google.co.uk/maps/place/Stockholm,+Sweden/@59.3258414,17.707373,10z/data=!3m1!4b1!4m2!3m1!1s0x465f763119640bcb:0xa80d27d3679d7766
  name: Stockholm
layout: one-column
nav: events
ical_url: http://lanyrd.com/2016/cucumberbdd/
image: /images/training/bdd-analysis-cover.jpg
dtstart: 2016-09-01 00:00:00
dtend: 2016-09-02 00:00:00
---

