---
title: BDD For Busy People
summary: A half-day workshop for business leaders, executives and managers with Matt Wynne.
hero:
  subtitle: A half-day workshop for business leaders, executives and managers with Matt Wynne.
  dates: March 15th 2017
  cta:
    link: https://www.eventbrite.co.uk/e/behaviour-driven-development-bdd-for-busy-people-with-matt-wynne-tickets-31446264624
    message: Sign me up
location:
  url: https://www.google.com/maps?hl=en-GB&q=51.50731469999999,-0.07371820000003027&sll=51.50731469999999,-0.07371820000003027&z=13&markers=51.50731469999999,-0.07371820000003027
  name: Rainmaking Loft, London E1
layout: one-column
nav: events
image: /images/blog/matt-crowd.jpg
dtstart: 2017-03-15 00:00:00
dtend: 2017-03-15 00:00:00
---