<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Cucumber Pro</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li{% if page.slug == "school" %} class="active"{% endif %}>
          <a href="/school.html">School</a>
        </li>
        <li{% if page.slug == "training" %} class="active"{% endif %}>
          <a href="/training.html">Training</a>
        </li>
        <li{% if page.slug == "support" %} class="active"{% endif %}>
          <a href="/support.html">Support</a>
        </li>
      <li{% if page.slug == "blog" %} class="active"{% endif %}>
          <a href="/blog.html">Blog</a>
        </li>
        <li{% if page.slug == "opensource" %} class="active"{% endif %}>
          <a href="http://cukes.info">Open Source</a>
        </li>
      </ul>
      <!--
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://app.cucumber.pro/login">Log in</a></li>
      </ul>
      -->
    </nav>
  </div>
</header>
