footer.container
  .row
    .col-lg-12
      p.text-center
        | Copyright © Cucumber Ltd 2014 -
        a href="/press.html"  Press
      p.text-center
        a href="tel:+442087206842" +44 20 8720 6842 (Europe)
      p.text-center
        a href="tel:+18444144961" 1-844-414-4961 (USA)
      p.text-center#js-edit style="display:none"
        a href=(edit_url(locals['template_path'])) Edit this page
        javascript:
          document.onkeydown = function(evt) {
            evt = evt || window.event;
            if (evt.ctrlKey && evt.keyCode == 69 /* e */) {
              document.getElementById('js-edit').style.display = 'block';
            }
          };

script src="/js/config.js"
script src="/js/main.js"
script src="//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"
javascript:
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-43811306-1', 'cukes.info');
  ga('send', 'pageview');

  $(document).ready(function () {
    $('body').scrollspy({ target: '#side-nav' });

    // Code carousels
    var ignoreCarouselEvents = false;
    $('.carousel').slick({
      autoplay: false,
      adaptiveHeight: true,
      draggable: false,
      swipe: true
    }).on('beforeChange', function (event, slick, currentSlide, nextSlide) {
      if(nextSlide == currentSlide) return;
      ignoreCarouselEvents = true;
      $('.carousel').slick('slickGoTo', nextSlide);
      ignoreCarouselEvents = false;

      var language = $(".slide-link[data-slide="+ nextSlide +"]").first().text();
      $('.current-slide').text(language);
    });

    // Carousel control
    $('.slide-link').click(function (e) {
      var slide = parseInt(e.target.dataset.slide);
      if ($('.carousel').slick('slickCurrentSlide') == slide) return;
      $('.carousel').slick('slickGoTo', slide);
    });
  });
