nav.navbar.navbar-default.navbar-fixed-top.community-nav class=(locals['nav'])
  .container
    .navbar-header
      button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand href="/"
        img src="/images/cucumber-mark-white.svg" alt="Cucumber" title="cukes.info"
    .collapse.navbar-collapse#main-nav-collapse
      ul.nav.navbar-nav
        li
          a class=(nav_class(locals['nav'], 'docs')) href="/docs" Docs
        li
          a class=(nav_class(locals['nav'], 'blog')) href="/blog" Blog
        li
          a class=(nav_class(locals['nav'], 'events')) href="/events" Events
        li
          a class=(nav_class(locals['nav'], 'school')) href="/school" School
        li
          a class=(nav_class(locals['nav'], 'training')) href="/training" Training
        li
          a href="https://cucumber.pro" Cucumber Pro
        li
          a class=(nav_class(locals['nav'], 'support')) href="/support" Support
