---
nav: training
---

.container
  h1 BDD analysis
/ Executable Specifications with Discovery Workshops and Example Mapping
/ Course Overview
/ BDD Analysis is a 2-day training in the analysis and collaboration aspects of Behaviour-Driven Development (BDD). It is a non-technical training for BAs, POs, developers and testers who want to learn how to create better executable specifications and living documentation.
/ If your organisation is only using Cucumber for test automation, this training will equip you with the skills you need to start using it for executable specifications and living documentation as well.
/
/ Day 1 - BDD Fundamentals
/ We’ll start with a thorough introduction to BDD. The focus is on analysis and collaboration techniques. We’ll also give some demos of Cucumber to give you some context, but there won’t be any programming exercises.
/ We’ll teach you Example Mapping - a powerful technique we have developed to help business, IT and QA break requirements down into concrete examples. This exposes misunderstandings early and will help you write better executable specifications and automated tests later.
/ Day 2 - Discovery Workshops
/ We’ll be working on a case study (a system to manage a public library), and you will spend the day analysing and breaking down user stories into examples.
/ You’ll be running your own Discovery Workshops, practicing the Example Mapping technique you learned on day 1.
/ You’ll experience how easy it can be to bring everyone’s understanding of requirements to the same level. You’ll also learn simple techniques to detect when there are too many unknowns to proceed with development.
/ You’ll learn you how you can get started with the collaborative analysis techniques of BDD without changing your existing process or organisational structure.
/ Learning outcomes
/ Day 1
/ Facilitating your own discovery workshops
/ Impact mapping - deriving scope and stories from business goals
/ Hunting for rules and acceptance criteria
/ Creating useful examples to illustrate rules
/ Capturing questions
/ Splitting big stories
/ How to write good Gherkin
/ Simplify estimation
/ Making sure everyone understands what to build
/ Striking a balance between specification, testing and documentation
/ Measuring the effects of BDD
/ Day 2
/ The fundamental principles and practices of BDD
/ The importance of Rules and Examples
/ Translating examples into Gherkin - Cucumber’s format for executable specifications
/ Conversation patterns for discovering edge cases
/ The importance of a ubiquitous language for problems and solutions
/ Using Example Mapping and Discovery Workshops to achieve shared understanding
/ Roles and responsibilities on a BDD team
/ Benefits
/ Discover how BDD can help your organisation by downloading our BDD Benefits PDF.
/ Misc stuff to add to the copy
/ Trainer bios
/ Matt Wynne
/ Matt is one of the world's leading BDD practitioners. A programmer, coach, trainer and popular international speaker, he was invited to join the Cucumber core team in 2009. Together with Aslak Hellesøy, he's co-author of The Cucumber Book, Behaviour-Driven Development for Developers and Testers and a co-founder of Cucumber Ltd.
/ George Dinwiddie
/ George helps organizations develop software more effectively. With thirty years of development experience from electronic hardware and embedded firmware to business information technology, he has broad technical experience. Capable across the broad range from process improvements to engineering skills, George currently has special interests in team-building, skill-building, and effective collaboration techniques.
/
/ Praise quotes (take from TypeForm replies) See below
/ When and where - November 4th - 5th. ustwo offices, London
/ Price - £900. Early Bird £720 (Displayed on Ti.to - perhaps add a ti.to button?)
/ Some pictures of previous trainings -
/ https://www.flickr.com/photos/skillsmatter/16813651899/in/album-72157651233332907/
/ https://www.flickr.com/photos/skillsmatter/16792474307/in/album-72157651233332907/
/ https://www.flickr.com/photos/skillsmatter/16792474847/in/album-72157651233332907/
/ https://www.flickr.com/photos/skillsmatter/16999849295/in/album-72157651233332907/
/ Prerequisites (laptop - only used to browse the web for research - no programming)
/ Cancellation policy
/ Cucumber Ltd has the right to cancel the event up to 4 weeks prior to the start date of November 4th.
/ If we cancel the course in this period, attendees will receive a 100% refund of their ticket.
/ We are not liable for any additional costs of travel, hotels, or other related expenses if we cancel the event or otherwise.
/ Tickets can not be cancelled and are non-refundable. However a substitute may attend if we are notified at least a day in advance.
/
/
/
/
/
/ Would you recommend BDD Kickstart training?
/
/
/ Yes! It's a great learning experience on how to build high quality software collaborating with the entire project team.  - Jason, 2015
/
/ I feel much more confident as we begin to integrate BDD and Cucumber into the company's development, testing, and deployment structure. The entire team learnt a lot despite having extremely varied backgrounds and skill sets. - Josh, 2015
/ Yes. I enjoyed the pace of the course, and I thought that each topic was presented in a concise, thoughtful way. The coursework was easy to follow and sparked a ton of insightful discussions that I hope will prove helpful to our teams as we move forward with BDD. - Robert, 2015
/
/ Matt was awesome - very knowledgeable, examples and practice sessions were very helpful, exercise was a great way to demonstrate the process. - Patrica, 2015
