---
title: Online Training - Cucumber School
nav: school
---

.intro-header-online-training
  .container
    .row
      .col-lg-12
        .intro-message
          image.img-responsive alt=("Cucumber School") src="/images/cucumber-school-white.png"
            br/
            h2 Online Cucumber &amp; BDD training
script language="javascript"
  | ga('send', 'event', 'school', 'purchase', 'series');
.content-section-b
  .container
    h1 Thanks!
    p
      | You're now enrolled at Cucumber School.
    p
      | You should receive an email with the download links within the next 30 minutes.
    p
      | Feel free to
      a<> href="mailto:hello+school@cucumber.io"  contact us
      | if you need any help.
