---
title: Support
slug: support
---

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 id="irc">Community Chat (IRC)</h2>
        <p>
          For quick help, you can try the <a href="irc://irc.freenode.net/cucumber">community chat forum</a> hosted at #cucumber on freenode.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h2 id="community">Community Forum</h2>
        <p>
          Over 3000 Cucumber users are part of the daily discussions on our <a href="http://groups.google.com/group/cukes">community forum</a>. It's a great place
          to get your questions answered, and to share your knowledge with others in the community.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h2 id="premium">Premium Support</h2>
        <p>
          When you want guaranteed accesss to prompt, expert help, you need premium support.
        </p>
      </div>
    </div>
    <div class="row text-center hidden-xs">
      <a class="btn btn-lg btn-primary" href="/CucumberPaidSupportPlans.pdf">Download our premium support prices</a>
    </div>
    <div class="row text-center visible-xs">
      <div class="jumbotron">
        Download our <a href="/CucumberPaidSupportPlans.pdf">premium support prices</a>
      </div>
    </div>
  </div>
</div>
