---
title: Support
slug: support
---

.content-section-a
  .container
    .row
      .col-lg-12
        h2#irc Community Chat (IRC)
        p
          | For quick help, you can try the
          a<> href="irc://irc.freenode.net/cucumber"
          | community chat forum hosted at #cucumber on freenode.
    .row
      .col-lg-12
        h2#community Community Forum
        p
          | Over 3000 Cucumber users are part of the daily discussions on our
          a<> href="http://groups.google.com/group/cukes" community forum
          | It's a great place to get your questions answered, and to share your knowledge with others in the community.
    .row
      .col-lg-12
        h2#premium Premium Support
        p
          | When you want guaranteed accesss to prompt, expert help, you need premium support.
    .row.text-center.hidden-xs
      a.btn.btn-lg.btn-primary href="/CucumberPaidSupportPlans.pdf"  Download our premium support prices
    .row.text-center.visible-xs
      .jumbotron
        | Download our
        a href="/CucumberPaidSupportPlans.pdf" premium support prices
