.community-nav {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.42857143;
  background: @brand-green;
  font-weight: normal;

  * {
    box-sizing: border-box;
  }

  nav {
    width: 1170px;
    margin: 0 auto;
  }

  a {
    color: @body-bg;
    font-weight: normal;
    display: inline-block;
    padding: 15px;
    vertical-align: top;
  }

  a.mark {
    padding: 15px 25px;
    background: url('/images/cucumber-mark-white.svg') center center no-repeat;
    width: 27px;
    height: 55px;
  }

  a.active, a:hover {
    background: @body-bg;
    color: @brand-green;
  }
}

.community-nav.blog {
  background: @brand-gray;

  a.active, a:hover {
    color: @brand-gray;
  }
}

.community-nav.school {
  background: @brand-orange;

  a.active, a:hover {
    color: @brand-orange;
  }
}

.community-nav.training {
  background: @brand-blue;

  a.active, a:hover {
    color: @brand-blue;
  }
}

.community-nav.support {
  background: @brand-purple;

  a.active, a:hover {
    color: @brand-purple;
  }
}

@media (min-width: 768px) {
  .community-nav nav {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .community-nav nav {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .community-nav nav {
    width: 1170px;
  }
}
