@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic&subset=latin);
@font-family-sans-serif: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-size-base: 17px;
@blockquote-font-size: @font-size-base;
@import "cucumber-glyphs";

blockquote {
  color: @brand-gray;
  font-style: italic;
}
