.btn-bddk-whitepaper {
  .btn(@brand-blue);
}

.btn-school-buy {
  .btn(@brand-orange);
  margin-right: 10px;
}

.btn-school-watch {
  .btn(@brand-orange);
  background: none;
  border: 1px solid #fff;
}

.school-intro {
  background: rgba(0,0,0,.7);
  border-top: 0 !important;
  margin: 0;
  p {
    color: #fff;
    margin: 0;
    font-size: 20px;
    line-height: 2;
    a {
      color: #fff;
      font-weight: bold;
    }
  }
}

.school-benefits {
  text-align: center;
  .panel {
    margin: 0;
    min-height: 76px;
    font-size: 17px;
    line-height: 1.8;
    border: 0;
    box-shadow: none;
    .panel-heading {
      background: none;
      border: 0;
      font-size: 80px;
      color: @brand-orange;
      line-height: 1;
    }
  }
  .btn-school-buy:hover {
    border: 1px solid @brand-orange;
    background: none;
  }
}

.school-instructors {
  img {
    border-radius: 500px;
  }
}
