.btn-watch-video {
  display: inline-block;
  margin: 20px 0 0;
  border: 1px solid #fff;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 200px;
  & > span {
    margin: 0 8px 0 0;
  }
  &:hover, &:active, &:focus {
    background: #ff7f00;
    color: #fff;
    text-decoration: none;
    border-color: #ff7f00;
  }
}

.btn-buy {
  display: inline-block;
  margin: 20px 0 0;
  background: #ff7f00;
  border: 1px solid #ff7f00;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 200px;
  &:hover {
    background: none;
    color: #ff7f00;
    text-decoration: none;
    border-color: #ff7f00;
  }
}

.school-benefits {
  margin: 60px 0 0 0;
  text-align: center;
  .panel {
    min-height: 76px;
    font-size: 17px;
    line-height: 1.8;
    border: 0;
    box-shadow: none;
    .panel-heading {
      background: none;
      border: 0;
      font-size: 80px;
      color: #ff7f00;
      line-height: 1;
    }
  }
}

.school-instructors {
  img {
    border-radius: 500px;
  }
}
