---
:events:
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/19260?
    username: mattwynne
    hash: -958054135531502291
  hash: 210394446246052892
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/1676758?
    username: charlierudolph
    hash: -743816705672035088
  hash: -2857473110322648392
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/1676758?
    username: charlierudolph
    hash: -743816705672035088
  hash: -2857473110322648392
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/1676758?
    username: charlierudolph
    hash: -743816705672035088
  hash: -2857473110322648392
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/1676758?
    username: charlierudolph
    hash: -743816705672035088
  hash: -2857473110322648392
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/1676758?
    username: charlierudolph
    hash: -743816705672035088
  hash: -2857473110322648392
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/1676758?
    username: charlierudolph
    hash: -743816705672035088
  hash: -2857473110322648392
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/1676758?
    username: charlierudolph
    hash: -743816705672035088
  hash: -2857473110322648392
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/1676758?
    username: charlierudolph
    hash: -743816705672035088
  hash: -2857473110322648392
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/1676758?
    username: charlierudolph
    hash: -743816705672035088
  hash: -2857473110322648392
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/1676758?
    username: charlierudolph
    hash: -743816705672035088
  hash: -2857473110322648392
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/1676758?
    username: charlierudolph
    hash: -743816705672035088
  hash: -2857473110322648392
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/1676758?
    username: charlierudolph
    hash: -743816705672035088
  hash: -2857473110322648392
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/1000?
    username: aslakhellesoy
    hash: 53419421436265685
  hash: 2530496301330926380
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/19260?
    username: mattwynne
    hash: -958054135531502291
  hash: 210394446246052892
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/1867920?
    username: lyndontavares
    hash: -3105657944093447230
  hash: 1071058425576429894
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/630124?
    username: Zearin
    hash: -1140141761834443643
  hash: -2723755411403276331
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/12893200?
    username: mepswe
    hash: -431889128664300011
  hash: 2312098156223193706
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/119972?
    username: jasonkarns
    hash: -4298166195863593546
  hash: -3286238659721255174
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/119972?
    username: jasonkarns
    hash: -4298166195863593546
  hash: -3286238659721255174
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/2998891?
    username: t-morgan
    hash: -2560214548957157533
  hash: -583356152261210914
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/119972?
    username: jasonkarns
    hash: -4298166195863593546
  hash: -3286238659721255174
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/2105308?
    username: brasmusson
    hash: -245307090806477280
  hash: -3234243141859484434
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/2105308?
    username: brasmusson
    hash: -245307090806477280
  hash: -3234243141859484434
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/2105308?
    username: brasmusson
    hash: -245307090806477280
  hash: -3234243141859484434
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/2105308?
    username: brasmusson
    hash: -245307090806477280
  hash: -3234243141859484434
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/2105308?
    username: brasmusson
    hash: -245307090806477280
  hash: -3234243141859484434
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/2105308?
    username: brasmusson
    hash: -245307090806477280
  hash: -3234243141859484434
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/2105308?
    username: brasmusson
    hash: -245307090806477280
  hash: -3234243141859484434
- !ruby/object:Cucumber::Website::Core::GitHubEvent
  contributor: !ruby/object:Cucumber::Website::Core::Contributor
    avatar_url: https://avatars.githubusercontent.com/u/2105308?
    username: brasmusson
    hash: -245307090806477280
  hash: -3234243141859484434
